<h1>Características Cadastradas</h1>

<div class="well-small">
  <dl>
    <dd>
      Nesta página, o administrador pode alterar, remover e visualizar detalhes de imoveis cadastrados.
    </dd>
  </dl>
</div>
<br>
<div class="well well-small" style="text-align: center;">
  <i class="icon-search"></i> Visualizar | <i class="icon-pencil"></i> Alterar | <i class="icon-trash"></i> Remover |<%= link_to 'Cadastrar Novo Detalhe', new_caracteristica_imovel_path, :class => "btn btn-link" %>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th class="rotulo">Nome</th>
      <th class="rotulo" style="text-align: center; width: 20%">Data de Cadastro</th>
      <th class="rotulo" style="text-align: center; width: 20%"></th>
    </tr>    
  </thead>
  <tbody>
    <% if !@caracteristica_imovels.empty? %>
      <% @caracteristica_imovels.each do |caracteristica| %>
        <tr>
          <td><%= caracteristica.descricao %></td>
          <td style="text-align: center;"><%= l(caracteristica.created_at, :format => :sample) %></td>
          <td style="text-align: center; width: 20%"></td>
        </tr>
      <% end %>
    <% else %>
    <tr>
        <td colspan="3" style="text-align: center">
          <font class="text-error" >Não há características cadastradas.</font>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>