<h1>Painel de Controle</h1>

<% if user_signed_in? %>
	<p>Find me in app/views/home/index.html.erb</p>
<% else%>
	<%# = render "devise/sessions/new" %>
	
	<%= link_to('Login', new_user_session_path) %>
<%end%>